[package]
name = "solver"
version = "0.1.0"
edition = "2024"

[dependencies]
wasm-bindgen = "0.2.105"

[lib]
crate-type = ["cdylib", "rlib"]

[build]
target = "wasm32-unknown-unknown"
rustflags = '-Ctarget-feature=+atomics,+bulk-memory,+mutable-globals'
